In [1]:
def apply_function(func,nums):
    return [func(x) for x in nums]

result = apply_function(lambda x : x*x ,[1,2,3,4])
print(result)

[1, 4, 9, 16]

In [13]:
def display_info(**kwargs):
    for key, values in kwargs.items():
        print(f"{key}:{values}")

display_info(name="akhil",age=22)

name:akhil
age:22

In [29]:
def average(*numbers):
    if numbers:
        return sum(numbers)/len(numbers)
    else:
        return 0
        
print(average(10,20,30))

20.0

In [35]:
def modify_list():
    listt1=[1,2,3,4]
    listt1.append(5)
    listt1.insert(1,22)
    print(listt1)
    listt1.remove(22)
    popped_element=listt1.pop()
    print("popped element: ",popped_element)
    print(listt1)

modify_list()

[1, 22, 2, 3, 4, 5]
popped element:  5
[1, 2, 3, 4]

In [39]:
from collections import Counter
def count_occurance(my_list):
    return dict(Counter(my_list))

my_list=[1,2,3,3,4,5,5,5,6,6,7,7,8,8,8,8,8]
print(count_occurance(my_list))

{1: 1, 2: 1, 3: 2, 4: 1, 5: 3, 6: 2, 7: 2, 8: 5}

In [41]:
def remove_duplicates(my_list):
    return list(set(my_list))

my_list=[1,2,2,3,3,33,4,5,5,5]
print(remove_duplicates(my_list))

[1, 2, 3, 4, 33, 5]

In [45]:
def find_index(my_list,value):
    return my_list.index(value) if value in my_list else "musko"

my_list=[1,2,3,4,5,6,7,8,9]
print(find_index(my_list,30))

musko

In [57]:
def reverse_list(lst):
    return lst[-1:-4:-1]

lst=[1,2,3,4,5]
print(reverse_list(lst))

[5, 4, 3]

In [59]:
def concate_and_repeat(tpl1,tpl2,repeat_count):
    concate=tpl1 + tpl2
    repeat=tpl1*repeat_count
    return concate,repeat

tpl1=(1,2,3,4)
tpl2=(2,3,4,5)
concate,repeat=concate_and_repeat(tpl1,tpl2,3)
print(concate,repeat)

(1, 2, 3, 4, 2, 3, 4, 5) (1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [15]:
students=[]
for i in range(int(input("range:"))):
    name = input("name:")
    score = float(input("score:"))
    students.append([name,score])
x=sorted(set([score for name,score in students]))
print(x)
second_lowest=x[1]
print(second_lowest)
y=sorted([name for name,score in students if score==second_lowest])
print(y)
for names in y:
    print(names)

range: 3
name: hh
score: 21
name: ff
score: 22
name: dd
score: 22

[21.0, 22.0]
22.0
['dd', 'ff']
dd
ff

In [21]:
n = int(input())
student_marks = {}
for _ in range(n):
    name, *line = input("name: ").split()
    scores = list(map(float, line))
    student_marks[name] = scores
query_name = input("query_name:")

 3
name:  satya
name:  akhil
name:  venkat
query_name: venkat

In [1]:
class employee:
    company="Gateway"
    def __init__(self):
        print("Hello")
    def message(self):
        print("Welcome")
emp1=employee()
print(emp1.company)

Hello
Gateway

In [3]:
def __init__():
    return("Hi")
emp1= __init__()
print(emp1)

Hi

In [5]:
class person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def display(self):
        print(f"Person is {self.name} and age is {self.age}")
p = person(23,"Akhil")
p.display()

Person is 23 and age is Akhil

In [7]:
class person:
    def __init__(self,name,age):
        self.name = name
        self.age = age

x=person("Akhil",22)
print(x.name)

Akhil

In [9]:
class fruit:
    def color(self):
        print("color is red")
class apple(fruit):
    def size(self):
        print("size is 22")


f=apple()
f.color()
f.size()

color is red
size is 22

In [11]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def say_hello(self):
        print(f" my name is {self.name} and age is {self.age}")

class student(Person):
    def __init__(self,name,age,grade):
        super().__init__(name,age)
        self.grade = grade
    def say_hello(self):
        super().say_hello()
        print(f"my grade is {self.grade}")

person=Person("Akhil",22)
person.say_hello()

student=student("Akhil",20,30)
student.say_hello()

 my name is Akhil and age is 22
 my name is Akhil and age is 20
my grade is 30

In [13]:
#hirarchical inheritance
class Parent:
    def fun1(self):
        print("Hi parent")
class child1(Parent):
    def fun2(self):
        print("hi child1")
class child2(Parent):
    def fun3(self):
        print("hi child2")
c1=child1()
c1.fun1()
c1.fun2()

c2=child2()
c2.fun3()
c2.fun1()

Hi parent
hi child1
hi child2
Hi parent

In [15]:
class parent1:
    def fun1(self):
        print("parent1")
class parent2:
    def fun2(self):
        print("parent2")
class child1(parent1):
    def fun3(self):
        print("child1")
class child2(child1,parent2):
    def fun4(self):
        print("child2")

t1=child1()
t2=child2()
t1.fun3()
t1.fun1()
t2.fun4()

child1
parent1
child2